<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>产品列表</title>
    <link rel="stylesheet" href="../assets/lib/bootstrap/css/bootstrap.css">
</head>
<body>

<div class="container">
    <h1>产品列表</h1>
    <ul>
        <li>
            <span><img src="" alt="" style="width: 30px;height: 30px;">产品AA</span>
        </li>
        <li>
            <span><img src="" alt="" style="width: 30px;height: 30px;">产品BB</span>
        </li>
        <li>
            <span><img src="" alt="" style="width: 30px;height: 30px;">产品CC</span>
        </li>
        <li>
            <span><img src="" alt="" style="width: 30px;height: 30px;">产品DD</span>
        </li>
        <li>
            <span><img src="" alt="" style="width: 30px;height: 30px;">产品EE</span>
        </li>
    </ul>
</div>

<script src="../assets/lib/jquery.min.js"></script>
<script src="../assets/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>